<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load i18n %}
    <meta charset="utf-8">
    <meta name="description" id="meta-description" content="Igor Bolotnikov's pet project. Authentication page.">
    <meta name="author" content="Igor Bolotnikov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <title>SCRPR | {{ title }}</title>
  </head>
  <body>
    <nav>
      {% include 'authentication/navbar.html' %}
    </nav>
    <section class="content_container">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} alert"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <header>
        {% block extra_header %}{% endblock %}
      </header>
      {% block content %}{% endblock %}
    </section>

    <footer>
      {% include 'authentication/footer.html' %}
    </footer>
    <script src="{% static 'authentication/main.js' %}"></script>
  </body>
</html>
