<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load i18n %}
    <meta charset="utf-8">
    <meta name="description" id="meta-description" content="Igor Bolotnikov's pet project. Authentication page.">
    <meta name="author" content="Igor Bolotnikov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'authentication/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'authentication/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'authentication/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'authentication/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'authentication/safari-pinned-tab.svg' %}" color="#4b4b4b">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>UniAuth | {{ title }}</title>
  </head>
  <body>
    <nav>
      {% include 'authentication/navbar.html' %}
    </nav>
    <section class="content_container">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} alert"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <header>
        {% block extra_header %}{% endblock %}
      </header>
      {% block content %}{% endblock %}
    </section>

    <footer>
      {% include 'authentication/footer.html' %}
    </footer>
    <script src="{% static 'authentication/main.js' %}"></script>
  </body>
</html>
