{% extends 'authentication/base.html' %}
{% load i18n %}

{% block content %}
<div class="auth_container window">
  <h1 class="auth_header">{% trans 'Change Password' %}</h1>
  <p class="auth_note">{% trans 'Please enter the new password.' %}
    <br/>{% trans 'It should (ideally) differ from the previous one.' %}</p>
    <form class="auth_form" method="POST" action="">
      {% csrf_token %}
      {% if form.old_password.errors %}
        <div class="input_error">
          {{ form.old_password }}
        </div>
        {% for error in form.old_password.errors %}
        <div class="error_message_container">
          <span class="error_message">{{ error }}</span>
        </div>
        {% endfor %}
      {% else %}
        {{ form.old_password }}
      {% endif %}
      {% if form.new_password1.errors %}
        <div class="input_error">
          {{ form.new_password1 }}
        </div>
        {% for error in form.new_password1.errors %}
        <div class="error_message_container">
          <span class="error_message">{{ error }}</span>
        </div>
        {% endfor %}
      {% else %}
        {{ form.new_password1 }}
      {% endif %}
      {% if form.new_password2.errors %}
        <div class="input_error">
        {{ form.new_password2 }}
        </div>
        {% for error in form.new_password2.errors %}
        <div class="error_message_container">
          <span class="error_message">{{ error }}</span>
        </div>
        {% endfor %}
      {% else %}
        {{ form.new_password2 }}
      {% endif %}
      <input type="submit" class="auth_button big_button" value="SUBMIT">
    </form>
</div>
{% endblock %}
