{% extends 'authentication/base.html' %}
{% load i18n %}

{% block content %}
{% if user.username == account.username %}
  <div class="auth_container window">
    <h1 class="auth_header">{% trans 'Delete Account' %}</h1>
    <p class="warning_message">{% trans "Are you sure you want to send your account to the infinite void space, from which it can't go back?" %}</p>
    <form class="update_form" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="button_options">
        <input type="submit" value="{% trans 'DELETE' %}" class="auth_button danger_button">
        <a href="{% url 'authentication:edit_account' pk=user.pk %}" class="auth_button big_button"">{% trans 'BACK' %}</a>
      </div>

    </form>
  </div>
{% endif %}
{% endblock %}
