__pycache__
venv/
.env
credentials.txt
.DS_Store
*.sqlite3
log.*
*.log
local_settings.py
media/
!default_image.png
staticfiles/

# Testing
htmlcov/
.pytest_cache
.coverage
.coveragerc
pytest.ini
test_settings.py
