<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    {% load i18n %}
    <meta charset="utf-8">
    <meta name="description" id="meta-description" content="Igor Bolotnikov's pet project. Web scraper made with love.">
    <meta name="author" content="Igor Bolotnikov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scrpr/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'scrpr/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'scrpr/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'scrpr/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'scrpr/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'scrpr/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'scrpr/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'scrpr/safari-pinned-tab.svg' %}" color="#ff4d4d">
    <meta name="msapplication-TileColor" content="#ff4d4d">
    <meta name="theme-color" content="#ff4d4d">
    <meta name="google-site-verification" content="LINi1eOJM0w91YasYxMTdMf3o-hCKGPZO0ON3XxUpaU" />
    <title>SCRPR | {% trans title %}</title>
  </head>
  <body>
    <nav>
      {% include 'scrpr/navbar.html' %}
    </nav>
    <div class="content_container">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} alert"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <footer>
      {% include 'scrpr/footer.html' %}
    </footer>
    <script src="{% static 'scrpr/main.js' %}"></script>
  </body>
</html>
