{% extends 'scrpr/base.html' %}
{% load i18n %}

{% block content %}
<div class="auth_container window">
  <h1 class="auth_header">{% trans 'Reset Password' %}</h1>
  <p class="auth_note">{% trans 'Please enter the new password.' %}'
    <br/>{% trans 'It should (ideally) differ from the previous one.' %}</p>
    <form class="auth_form" method="POST" action="">
      {% csrf_token %}
      {% if form.password.errors %}
        <div class="input_error">
          {{ form.password }}
        </div>
        {% for error in form.password.errors %}
        <div class="error_message_container">
          <span class="error_message">{{ error }}</span>
        </div>
        {% endfor %}
      {% else %}
        {{ form.password }}
      {% endif %}
      {% if form.confirm_password.errors %}
        <div class="input_error">
        {{ form.confirm_password }}
        </div>
        {% for error in form.confirm_password.errors %}
        <div class="error_message_container">
          <span class="error_message">{{ error }}</span>
        </div>
        {% endfor %}
      {% else %}
        {{ form.confirm_password }}
      {% endif %}
      <input type="submit" class="auth_button big_button" value="SUBMIT">
    </form>
</div>
{% endblock %}
